export('findPairedBases')
export('flattenDotBracket')
export('generatePairsProbabilityMatrix')
export('pairsToSecondaryStructure')
export('plotCompositePairsMatrix')
export('plotPairsProbabilityMatrix')
export('predictAlternativeSecondaryStructures')
export('predictSecondaryStructure')
export('readCT')
export('readDotBracket')
export('rnaCentralGenomicCoordinatesSearch')
export('rnaCentralRetrieveEntry')
export('rnaCentralTextSearch')
export('writeCT')
export('writeDotBracket')
import('httr')
import('ggplot2')
import('utils')
import('GenomicRanges')
importFrom('grDevices', rainbow)
importFrom('xml2', xml_text)
importFrom('IRanges', IRanges)
importFrom('S4Vectors', Rle)
importFrom('methods', is)